In [ ]:
# ---------------------------------
# 문제정의
# ---------------------------------
# 주어진 제품 및 매장 특성들을(X값,컬럼) 기반으로 판매 금액(Item_Outlet_Sales)을 예측하기

In [ ]:
# ---------------------------------
# 라이브러리 가져오기
# ---------------------------------

In [1]:
import pandas as pd
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

# train = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part2/ch4/train.csv")
# test = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part2/ch4/test.csv")

train

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,NCR06,12.500,Low Fat,0.006760,Household,42.8112,OUT013,1987,High,Tier 3,Supermarket Type1,639.1680
1,FDW11,12.600,Low Fat,0.048741,Breads,60.4194,OUT013,1987,High,Tier 3,Supermarket Type1,990.7104
2,FDH32,12.800,Low Fat,0.075997,Fruits and Vegetables,97.1410,OUT013,1987,High,Tier 3,Supermarket Type1,2799.6890
3,FDL52,6.635,Regular,0.046351,Frozen Foods,37.4506,OUT017,2007,NaN,Tier 2,Supermarket Type1,1176.4686
4,FDO09,13.500,Regular,0.125170,Snack Foods,261.4910,OUT013,1987,High,Tier 3,Supermarket Type1,3418.8830
...,...,...,...,...,...,...,...,...,...,...,...,...
6813,NCC54,17.750,Low Fat,0.097863,Health and Hygiene,239.3196,OUT049,1999,Medium,Tier 1,Supermarket Type1,3615.2940
6814,NCF19,13.000,Low Fat,0.035252,Household,48.0034,OUT018,2009,Medium,Tier 3,Supermarket Type2,923.4646
6815,FDU11,4.785,Low Fat,0.092576,Breads,121.0098,OUT035,2004,Small,Tier 2,Supermarket Type1,2530.7058
6816,FDK14,6.980,Low Fat,0.041189,Canned,82.8934,OUT045,2002,NaN,Tier 2,Supermarket Type1,818.9340
6817,NCD31,NaN,Low Fat,0.015360,Household,163.7526,OUT027,1985,Medium,Tier 3,Supermarket Type3,1973.4312

In [ ]:
# ---------------------------------
# EDA
# ---------------------------------

In [3]:
# train.head()
# train.tail()
train.sample(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4703,FDS07,12.35,Low Fat,0.099675,Fruits and Vegetables,112.2518,OUT013,1987,High,Tier 3,Supermarket Type1,1366.2216
1952,FDQ23,6.55,Low Fat,0.024665,Breads,103.3332,OUT017,2007,NaN,Tier 2,Supermarket Type1,2050.6640
475,FDJ34,NaN,Regular,0.093202,Snack Foods,125.5704,OUT027,1985,Medium,Tier 3,Supermarket Type3,1001.3632
2446,FDQ08,15.70,Regular,0.031686,Fruits and Vegetables,63.1536,OUT010,1998,NaN,Tier 3,Grocery Store,122.5072
6220,NCY05,13.50,LF,0.055301,Health and Hygiene,34.6874,OUT017,2007,NaN,Tier 2,Supermarket Type1,317.5866

In [12]:
train.shape, test.shape

((6818, 12), (1705, 11))

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6818 entries, 0 to 6817
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            6818 non-null   object
 1   Item_Weight                5656 non-null   float64
 2   Item_Fat_Content           6818 non-null   object
 3   Item_Visibility            6818 non-null   float64
 4   Item_Type                  6818 non-null   object
 5   Item_MRP                   6818 non-null   float64
 6   Outlet_Identifier          6818 non-null   object
 7   Outlet_Establishment_Year  6818 non-null   int64
 8   Outlet_Size                4878 non-null   object
 9   Outlet_Location_Type       6818 non-null   object
 10  Outlet_Type                6818 non-null   object
 11  Item_Outlet_Sales          6818 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 639.3+ KB

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705 entries, 0 to 1704
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            1705 non-null   object
 1   Item_Weight                1404 non-null   float64
 2   Item_Fat_Content           1705 non-null   object
 3   Item_Visibility            1705 non-null   float64
 4   Item_Type                  1705 non-null   object
 5   Item_MRP                   1705 non-null   float64
 6   Outlet_Identifier          1705 non-null   object
 7   Outlet_Establishment_Year  1705 non-null   int64
 8   Outlet_Size                1235 non-null   object
 9   Outlet_Location_Type       1705 non-null   object
 10  Outlet_Type                1705 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 146.7+ KB

In [13]:
train.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,5656.000000,6818.000000,6818.000000,6818.000000,6818.000000
mean,12.872703,0.066121,140.419533,1997.885890,2190.941459
std,4.651034,0.051383,62.067861,8.339795,1706.131256
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.785000,0.026914,93.610050,1987.000000,836.577700
50%,12.600000,0.053799,142.448300,1999.000000,1806.648300
75%,17.000000,0.095273,185.060150,2004.000000,3115.944000
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [15]:
test.describe()

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year
count  1404.000000      1705.000000  1705.000000                1705.000000
mean     12.796984         0.066174   143.285107                1997.615836
std       4.613957         0.052465    63.063146                   8.497423
min       4.555000         0.000000    31.955800                1985.000000
25%       8.710000         0.027571    94.743600                1987.000000
50%      12.600000         0.054234   144.512800                1999.000000
75%      16.700000         0.092927   187.755600                2004.000000
max      21.350000         0.311090   266.888400                2009.000000

In [17]:
train.describe(include='O')

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
count,6818,6818,6818,6818,4878,6818,6818
unique,1554,5,16,10,3,3,4
top,FDW26,Low Fat,Snack Foods,OUT046,Medium,Tier 3,Supermarket Type1
freq,9,4092,963,763,2228,2664,4474

In [18]:
train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1162
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1940
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [19]:
test.isnull().sum()

Item_Identifier                0
Item_Weight                  301
Item_Fat_Content               0
Item_Visibility                0
Item_Type                      0
Item_MRP                       0
Outlet_Identifier              0
Outlet_Establishment_Year      0
Outlet_Size                  470
Outlet_Location_Type           0
Outlet_Type                    0
dtype: int64

In [20]:
train.isnull().sum().sum()

3102

In [21]:
test.isnull().sum().sum()

771

In [ ]:
# ---------------------------------
# 데이터 전처리
# ---------------------------------

In [2]:
# 결측값 채우기(무게 : 최소값 , 사이즈 : 최빈값)

train['Item_Weight'] = train['Item_Weight'].fillna(train['Item_Weight'].min())
train['Outlet_Size'] = train['Outlet_Size'].fillna(train['Outlet_Size'].mode()[0])

test['Item_Weight'] = test['Item_Weight'].fillna(test['Item_Weight'].min())
test['Outlet_Size'] = test['Outlet_Size'].fillna(test['Outlet_Size'].mode()[0])

In [3]:
# 컬럼제거

train.drop('Item_Identifier',axis=1, inplace=True)
test.drop('Item_Identifier',axis=1, inplace=True)

In [9]:
### ----------------------------------
### ☆　OLS 선형회귀에서만 사용할 것(분류는 X)
### ----------------------------------

from statsmodels.formula.api  import ols

# y 항목컬러명 저장
y_col = "Item_Outlet_Sales"

# y를 뺀 x값 후보들(수치형, 벙주형 다 포함됨)
X_cols = [c for c in train.columns if c != y_col]
X_cols

# formula 생성
formula = f"{y_col} ~ " + " + ".join(X_cols)
formula

# OLS  모델 적용
model = ols(formula, data = train).fit()

# 확인
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      Item_Outlet_Sales   R-squared:                       0.564
Model:                            OLS   Adj. R-squared:                  0.564
Method:                 Least Squares   F-statistic:                     882.2
Date:                Mon, 13 Oct 2025   Prob (F-statistic):               0.00
Time:                        02:11:02   Log-Likelihood:                -6840.8
No. Observations:                6818   AIC:                         1.370e+04
Df Residuals:                    6807   BIC:                         1.378e+04
Df Model:                          10
Covariance Type:            nonrobust
====================================================================================================
                                       coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
Intercept                           -1.1245      0.090    -12.466      0.000      -1.301      -0.948
Outlet_Size[T.Medium]                0.0361      0.057      0.628      0.530      -0.077       0.149
Outlet_Size[T.Small]                 0.0556      0.065      0.848      0.396      -0.073       0.184
Outlet_Location_Type[T.Tier 2]       0.0138      0.022      0.619      0.536      -0.030       0.058
Outlet_Location_Type[T.Tier 3]       0.0062      0.053      0.117      0.907      -0.097       0.110
Outlet_Type[T.Supermarket Type1]     1.1533      0.042     27.265      0.000       1.070       1.236
Outlet_Type[T.Supermarket Type2]     0.9483      0.040     23.614      0.000       0.870       1.027
Outlet_Type[T.Supermarket Type3]     1.9896      0.043     46.341      0.000       1.905       2.074
Item_Weight                          0.0040      0.010      0.405      0.685      -0.015       0.024
Item_Visibility                     -0.0072      0.008     -0.866      0.386      -0.024       0.009
Item_MRP                             0.5676      0.008     70.943      0.000       0.552       0.583
==============================================================================
Omnibus:                      779.202   Durbin-Watson:                   1.997
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1916.165
Skew:                           0.665   Prob(JB):                         0.00
Kurtosis:                       5.231   Cond. No.                         25.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [5]:
# [★]OLS = Pvalue 값 높은값(0.05이상)만 제거 (이상이면 y값과 상관관계가 낮음)

# PValue 0.05 이상인 컬럼 확인

model.pvalues[model.pvalues > 0.05]

# 리스트로 빼는 방법
# list = model.pvalues[model.pvalues > 0.05].index.tolist()
# list

# 컬럼삭제
train = train.drop('Item_Fat_Content', axis = 1)
train = train.drop('Item_Type', axis = 1)
train = train.drop('Outlet_Identifier', axis = 1)

test = test.drop('Item_Fat_Content', axis = 1)
test = test.drop('Item_Type', axis = 1)
test = test.drop('Outlet_Identifier', axis = 1)

In [6]:
# OLS 다중공선성 의심(다중공선성 : 설명 변수들(독립변수, X1, X2..) 사이에 서로 강한 상관관계존재)
# Cond. No.                     1.44e+19

# 발생 원인
# 범주형 독립변수 간(X1, X2)의 중복된 의미가 있을 때 -> 범부형-수치형 검정(카이제곱)
# 연속된 수치값(ex 날짜정보)가 포함되어있을 때 -> 컬럼 삭제
# 수치형 독립변수들 간(X1, X2)의 변수 범위 차이가 클 때 -> 스케일링을 통해서 범위를 조정

# Cond. NO.
# < 30                           문제없음
# 30 ~ 100                      약한 다중공선성 가능성
# 100 ~ 1,000                   다중공선성 의심
# > 1,000                       심각한 다중공선성 가능성 있음
# > 100,000                     수치적으로 매운 불안정 - 경고 수준


# 다중공선성 원인 변수 찾기(VIF) - 다중공선성의 정도를 수치로 측정한 지표
from statsmodels.stats.outliers_influence import variance_inflation_factor
import pandas as pd

# y를 뺀 x값 후보들(수치형, 벙주형 다 포함됨)
X_cols = [c for c in train.columns if c != y_col]

X = train[X_cols].select_dtypes(include = ['float', 'int'])

vif = pd.DataFrame()
vif["Feature"] = X.columns

vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif

# Outlet_Establishment_Year, Outlet_Identifier, Outlet_Location_Type 다중공선성을 높이는 원인인 x값들 

# 해결책
# 수치형 변수 스케일링 = StandardScaler 또는 MinMaxScaler
# 다중공선성 높은 변수 제거 - VIF 10 이상인 변수 제거
# Ridge/Lasso 회귀로 대체 - 정규화로 공선성 완화

                     Feature        VIF
0                Item_Weight   5.802119
1            Item_Visibility   2.665509
2                   Item_MRP   6.121111
3  Outlet_Establishment_Year  12.748339

In [7]:
# -----------------------------------------
# [★] vif > 10 컬럼삭제
# -----------------------------------------

train = train.drop('Outlet_Establishment_Year', axis = 1)

test = test.drop('Outlet_Establishment_Year', axis = 1)

In [8]:
# ----------------------------------------
# [★]　OLS 수치형 변수 스케일링
# ----------------------------------------

from sklearn.preprocessing import StandardScaler

# 1. 수치형 컬럼 자동 선택(object 제외)
num_cols = train.select_dtypes(exclude = ['object']).columns

# 2. 스케일러 선언
scaler = StandardScaler()

# 3. 수치형 컬럼만 스케일링
train[num_cols] = scaler.fit_transform(train[num_cols]) 

# 4. 결과 확인
print("스케일링 완료된 수치형 컬럼들:")
print(num_cols.tolist())
print(train.head())

스케일링 완료된 수치형 컬럼들:
['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Item_Outlet_Sales']
   Item_Weight  Item_Visibility  Item_MRP Outlet_Size Outlet_Location_Type  \
0     0.198448        -1.155377 -1.572722        High               Tier 3
1     0.217440        -0.338271 -1.289008        High               Tier 3
2     0.255424         0.192206 -0.697329        High               Tier 3
3    -0.915442        -0.384799 -1.659095      Medium               Tier 2
4     0.388369         1.149287  1.950774        High               Tier 3

         Outlet_Type  Item_Outlet_Sales
0  Supermarket Type1          -0.909594
1  Supermarket Type1          -0.703533
2  Supermarket Type1           0.356826
3  Supermarket Type1          -0.594648
4  Supermarket Type1           0.719776

In [30]:
# 이상치 - 생략

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year
count  6818.000000      6818.000000  6818.000000                6818.000000
mean     11.455107         0.066121   140.419533                1997.885890
std       5.265718         0.051383    62.067861                   8.339795
min       4.555000         0.000000    31.290000                1985.000000
25%       6.690000         0.026914    93.610050                1987.000000
50%      11.000000         0.053799   142.448300                1999.000000
75%      16.100000         0.095273   185.060150                2004.000000
max      21.350000         0.328391   266.888400                2009.000000

In [9]:
# y값 분할 
target = train.pop('Item_Outlet_Sales')
target

0        639.1680
1        990.7104
2       2799.6890
3       1176.4686
4       3418.8830
          ...
6813    3615.2940
6814     923.4646
6815    2530.7058
6816     818.9340
6817    1973.4312
Name: Item_Outlet_Sales, Length: 6818, dtype: float64

In [31]:
# 레이블인코딩

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,NCR06,12.500,Low Fat,0.006760,Household,42.8112,OUT013,1987,High,Tier 3,Supermarket Type1
1,FDW11,12.600,Low Fat,0.048741,Breads,60.4194,OUT013,1987,High,Tier 3,Supermarket Type1
2,FDH32,12.800,Low Fat,0.075997,Fruits and Vegetables,97.1410,OUT013,1987,High,Tier 3,Supermarket Type1
3,FDL52,6.635,Regular,0.046351,Frozen Foods,37.4506,OUT017,2007,Medium,Tier 2,Supermarket Type1
4,FDO09,13.500,Regular,0.125170,Snack Foods,261.4910,OUT013,1987,High,Tier 3,Supermarket Type1
...,...,...,...,...,...,...,...,...,...,...,...
6813,NCC54,17.750,Low Fat,0.097863,Health and Hygiene,239.3196,OUT049,1999,Medium,Tier 1,Supermarket Type1
6814,NCF19,13.000,Low Fat,0.035252,Household,48.0034,OUT018,2009,Medium,Tier 3,Supermarket Type2
6815,FDU11,4.785,Low Fat,0.092576,Breads,121.0098,OUT035,2004,Small,Tier 2,Supermarket Type1
6816,FDK14,6.980,Low Fat,0.041189,Canned,82.8934,OUT045,2002,Medium,Tier 2,Supermarket Type1
6817,NCD31,4.555,Low Fat,0.015360,Household,163.7526,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [10]:
from sklearn.preprocessing import LabelEncoder

cols = train.columns[train.dtypes == object]

for col in cols:
    le = LabelEncoder()
    le.fit(pd.concat([train[col],test[col]] ,axis=0)) # 행합치기
    train[col] = le.transform(train[col])
    test[col] = le.transform(test[col])

In [34]:
test

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,717,17.250,1,0.073251,3,76.4986,2,2007,1,1,1
1,712,6.360,1,0.120544,6,45.8060,8,1997,2,0,1
2,928,10.695,2,0.128247,4,121.8440,3,2009,1,2,2
3,423,7.405,1,0.015296,3,89.7146,9,1999,1,0,1
4,828,10.500,2,0.142760,1,159.3578,9,1999,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
1700,1502,4.555,1,0.097769,9,142.4496,4,1985,2,0,0
1701,1168,4.555,2,0.153457,4,264.0910,4,1985,2,0,0
1702,474,20.750,2,0.129864,12,240.1880,3,2009,1,2,2
1703,69,14.650,1,0.171282,7,54.0614,2,2007,1,1,1
1704,1276,19.600,1,0.041291,9,86.9514,8,1997,2,0,1

In [ ]:
# ---------------------------------
# 검증 데이터 분할 train - val (8,2)
# ---------------------------------

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(
    train,
    target,
    test_size=0.2,
    random_state=0
)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((5454, 7), (1364, 7), (5454,), (1364,))

In [ ]:
# ---------------------------------
# 학습 및 평가(MSE, MAE , R2..)
# ---------------------------------

In [ ]:
# LIGHTGBM 학습

In [12]:
# LIGHTGBM 학습
import lightgbm as lgb
model = lgb.LGBMRegressor(random_state=0, verbose=-1)
model.fit(X_train, y_train)
y_pred_2 = model.predict(X_val)

In [13]:
from sklearn.metrics import mean_squared_error #MSE(평균 제곱 오차)
from sklearn.metrics import mean_absolute_error #MAE(평균 절대 오차)
from sklearn.metrics import root_mean_squared_error #RMSE(제곱 평균 오차 루트)
from sklearn.metrics import r2_score #R2Score(결정계수)

lgm_mse = mean_squared_error(y_val, y_pred_2)
lgm_mae = mean_absolute_error(y_val, y_pred_2)
lgm_rmse = root_mean_squared_error(y_val, y_pred_2)
lgm_r2 = r2_score(y_val, y_pred_2)

print("MSE : ",lgm_mse) # 오차를 제곱해 평균을 낸 값 - 값 클수록 예측이 실제와 다름
print("MAE : ",lgm_mae) # 오차를 절대값으로 계산 - 값 클수록 예측이 실제와 다름
print("RMSE : ",lgm_rmse) # 
print("R2 : ",lgm_r2) #

MSE :  1095162.2783519637
MAE :  732.9844015681008
RMSE :  1046.5000135460887
R2 :  0.5781424723253379

# ----------------------------------
## 상관계수(x후보들 - y값) 낮은 컬럼 제거
# ----------------------------------

In [20]:
# 임계값 조절

TARGET_CORR_TH = 0.03 # 상관계수 임계값

#숫자형 기준으로 상관계수 계산
df_corr = train.copy()
df_corr['__target__'] = y_train
corr_with_target = df_corr.corr(numeric_only=True)['__target__'].drop('__target__')
corr_with_target

#유지할 컬럼(= 타깃과의 절대 상관이 임계값 이상인 컬럼만 추출)
keep_features = corr_with_target[ corr_with_target.abs() >= TARGET_CORR_TH ].index.tolist()
# keep_features

#제거할 컬럼
problem_features = corr_with_target[ corr_with_target.abs() < TARGET_CORR_TH ].index.tolist()
problem_features

['Item_Fat_Content', 'Item_Type']

In [22]:
# ----------------------------------
# 컬럼제거
# ----------------------------------
train.drop('Item_Fat_Content',axis=1,inplace=True)
train.drop('Item_Type',axis=1,inplace=True)

test.drop('Item_Fat_Content',axis=1,inplace=True)
test.drop('Item_Type',axis=1,inplace=True)

In [23]:
# ----------------------------------
# 확인
# ----------------------------------
train.shape, test.shape

((6818, 8), (1705, 8))

In [24]:
from sklearn.model_selection import train_test_split

X_train_re, X_val_re, y_train_re, y_val_re = train_test_split(
    train,
    target,
    test_size=0.2,
    random_state=0
)
X_train_re.shape, X_val_re.shape, y_train_re.shape, y_val_re.shape

((5454, 8), (1364, 8), (5454,), (1364,))

In [25]:
import lightgbm as lgb
model = lgb.LGBMRegressor(random_state=0, verbose=-1)
model.fit(X_train_re, y_train_re)
y_pred_2_re = model.predict(X_val_re)

In [26]:
lgm_mse_re = mean_squared_error(y_val_re, y_pred_2_re)
lgm_mae_re = mean_absolute_error(y_val_re, y_pred_2_re)
lgm_rmse_re = root_mean_squared_error(y_val_re, y_pred_2_re)
lgm_r2_re = r2_score(y_val_re, y_pred_2_re)

print("MSE : ",lgm_mse_re) # 오차를 제곱해 평균을 낸 값 - 값 클수록 예측이 실제와 다름
print("MAE : ",lgm_mae_re) # 오차를 절대값으로 계산 - 값 클수록 예측이 실제와 다름
print("RMSE : ",lgm_rmse_re) # 
print("R2 : ",lgm_r2_re) #

MSE :  1108334.9408928182
MAE :  736.8110133347378
RMSE :  1052.7748766440136
R2 :  0.5730683504694064